<html>
  <head>
    <!-- Load TensorFlow.js -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"> </script>
  </head>

  <body>
    <video autoplay="true" id="videoElement">
    </video>
  </body>
  <!-- Place your code in the script tag below. You can also use an external .js file -->
  <script>
    class Lambda extends tf.layers.Layer {
      static className = 'Lambda';
      constructor(config) {
        super(config);
      }
      call(input) {
        return tf.tidy(() => {
          return input;
        });
      }
    }
    tf.serialization.registerClass(Lambda);
  </script>
  <script>

    let model = null;
    let video = null;

    const predict = async () => {
      const tfImg = tf.browser.fromPixels(video);
      const smalImg = tf.image.resizeBilinear(tfImg, [160, 160]);
      const resized = tf.cast(smalImg, 'float32');
      const t4d = tf.tensor4d(Array.from(resized.dataSync()),[1,160,160,3])
      const res = await tf.tensor1d(await model.predict(t4d).data()).argMax().data();
      console.log(res);
      requestAnimationFrame(predict)
    }

    const exe = async() => {
        console.log("load started")
        model = await tf.loadLayersModel('https://parekafox.herokuapp.com/TFJS_MODEL/model.json');
        console.log("model loaded")
        video = document.querySelector("#videoElement");
        const stream = await navigator.mediaDevices.getUserMedia({ video: true });
        video.srcObject = stream;
        video.onloadeddata = predict;
    }
    exe()
  </script>
</html>