<html>
  <head>
    <!-- Load TensorFlow.js -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"> </script>
  </head>

  <body>
    <video autoplay="true" id="videoElement">
    </video>
  </body>
  <!-- Place your code in the script tag below. You can also use an external .js file -->
  <script>
    const exe = async() => {
        const model = await tf.loadLayersModel('https://parekafox.herokuapp.com/TFJS_MODEL/model.json');
        const video = document.querySelector("#videoElement");
        const stream = await navigator.mediaDevices.getUserMedia({ video: true });
        video.srcObject = stream;
        const result = await model.predict(tf.browser.fromPixels(video));
        console.log(result);
    }
    exe()
  </script>
</html>