<html>
  <head>
    <!-- Load TensorFlow.js -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs/dist/tf.min.js"> </script>
  </head>

  <body>
    <div id="loading">Loading</div>
    <video autoplay="true" id="videoElement">
    </video>
    <h1>Output : <div id="output"></div></h1>
  </body>
  <!-- Place your code in the script tag below. You can also use an external .js file -->
  <script>
    class Lambda extends tf.layers.Layer {
      static className = 'Lambda';
      constructor(config) {
        super(config);
      }
      call(input) {
        return tf.tidy(() => {
          console.log(tf.sub(tf.div(input[0],127.5),1).dataSync());
          return tf.sub(tf.div(input[0],127.5),1);
        });
      }
    }
    tf.serialization.registerClass(Lambda);
  </script>
  <script>

    let model = null;
    let video = null;
    let output = document.getElementById("output");
    let loading = document.getElementById("loading");

    const predict = async () => {
      const tfImg = tf.browser.fromPixels(video);
      const smalImg = tf.image.resizeBilinear(tfImg, [160, 160]);
      const resized = tf.cast(smalImg, 'float32');
      const t4d = tf.tensor4d(Array.from(resized.dataSync()),[1,160,160,3]);
      const prediction = await model.predict(t4d).data();
      const res = await tf.tensor1d(prediction).argMax().data();
      if(prediction[res[0]] > 0.3)
        output.textContent = res[0] + "with accuracy" + prediction[res[0]]*100 + "%";
      else
        output.textContent = "No Exercise Detected" + res[0] + "with accuracy" + prediction[res[0]]*100 + "%";
      return requestAnimationFrame(predict)
    }

    const exe = async() => {
        console.log("load started")
        model = await tf.loadLayersModel('https://parekafox.herokuapp.com/TFJS_MODEL/model.json');
        console.log("model loaded")
        loading.textContent = "";
        video = document.querySelector("#videoElement");
        const stream = await navigator.mediaDevices.getUserMedia({ video: true });
        video.srcObject = stream;
        video.onloadeddata = predict;
    }
    exe()
  </script>
</html>